@model GestionNotas.Models.TblNotasEstudiante
@{
    ViewBag.Title = "Resultado";
}
<h2 style="text-align:center">RESULTADOS</h2>

<div class="container-fluid" style="border:1px solid black;padding:1.5em; width:32em;font-size:15pt;">

    <label for="nombreEstudiante" style="float:initial;">ESTUDIANTE: </label><br />
    <label>@Model.Nombre</label><br /> <br />

    <div style="float:left;padding-right:1em;">
        <label>Laboratorio I: </label>
        <label>@Model.lab1</label><br />

        <label>Laboratorio II: </label>
        <label>@Model.lab2</label><br />

        <label>Laboratorio III: </label>
        <label>@Model.lab3</label><br />
    </div>

    <div style="float: left; padding-right: 1em;">
        <label>Parcial I: </label>
        <label>@Model.par1</label><br />

        <label>Parcial II: </label>
        <label>@Model.par2</label><br />

        <label>Parcial III: </label>
        <label>@Model.par3</label><br />
    </div>
    <div style="float: right; padding-right: 0em;">
        <label>Periodo I: </label>
        <label>@ViewBag.periodo1</label><br />

        <label>Periodo II: </label>
        <label>@ViewBag.periodo2</label><br />

        <label>Periodo III: </label>
        <label>@ViewBag.periodo3</label><br /><br />
    </div>

    <label style="float:initial;width:100%;">NOTA PROMEDIO: @Model.nota</label><br /><br />
    <button type="submit" class="btn-success" style="float:initial;width:20%">@Html.ActionLink("Regresar","GestionNotas")</button>
</div>


